@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<img class="background" src="~/lib/images/craft-equipment-blue-origami-paper-fan-beige-background.jpg" />




<div class="main-heading" style="text-align:center;">

    <h1>Welcome to KhumaloCraft Emporium</h1>
    <p>
        At KhumaloCraft Emporium, we're on a mission to celebrate the beauty of handmade craftsmanship and connect artisans with discerning customers worldwide.<br />
        Founded by visionary entrepreneur James Khumalo, our platform serves as a global marketplace where artisans can showcase their talents and customers<br>
        can discover unique, handcrafted treasures.
    </p>
    <br />
    <br />
     <br />
    <br />

        </div>

<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col-md-6">

            <img src="~/lib/images/khumalo.png" style="max-width: 70%; " />
        </div>
        <div class="col-md-6 offset-md-5">
            <div style="margin-top: -450px;">
             
                <h2>Our Story</h2>
                <p>
                    The story of KhumaloCraft begins with a passion for craftsmanship and a desire to preserve traditional art forms. Inspired by his travels and encounters
                    with talented artisans from diverse cultures, James Khumalo envisioned a platform where their creations could be celebrated and shared with the world.
                    Drawing on his background in business and his commitment to social impact, James founded KhumaloCraft Emporium with the goal of creating a sustainable
                    marketplace that empowers artisans and enriches lives.
                </p>

                <h2>Our Mission and Values</h2>
                <p>
                    At KhumaloCraft, our mission is simple yet profound: to support artisans, promote traditional craftsmanship, and foster cultural exchange. We believe
                    in the power of handmade goods to tell stories, evoke emotions, and create connections across borders and generations. Our values of integrity,
                    authenticity, and sustainability guide everything we do, from the products we select to the partnerships we forge with artisans and suppliers.
                </p>

                <h2>Join Us on Our Journey</h2>
                <p>
                    We invite you to join us on our journey to celebrate the beauty of handmade craftsmanship and support artisans from around the world. Together,
                    let's create a global community where creativity thrives, cultures converge, and meaningful connections are made. Thank you for choosing
                    KhumaloCraft Emporium.
                </p>
            </div>
        </div>
    </div>
</div>

<br />
<br />



