@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <img class="background" src="~/lib/images/craft-equipment-blue-origami-paper-fan-beige-background.jpg" />


    <title>Contact</title>

</head>
<body>
    <div class="container text-center">
        <h1 class="display-4">Contact</h1>
        <div>
            <form class="form1">
                <p class="formone">Conatact Us :</p>
                <label>Company Name :  KhumaloCraft Emporium </label><br />
                <label>Contact Number: 067 618 1472</label><br />
                <label>Email Address: <a href="mailto:kamil.maharaj.222@gmail.com">kamil.maharaj.222@gmail.com</a></label>

            </form>

            <br />
            <br />
            <form class="form2">
                <p class="three">Connect with Us</p>
                <div class='form-group'>
                    <label for='Name'>Name:</label>
                    <input type='text' id='Name' name='Name' class='form-control' required />
                </div>
                <div class='form-group'>
                    <label for='Email'>Email:</label>
                    <input type='email' id='Email' name='Email' class='form-control' required />
                </div>
                <div class='form-group'>
                    <label for='Subject'>Subject:</label>
                    <input id='subject' name='Subject' class='form-control' required />
                </div>
                <div class='form-group'>
                    <label for='Message'>Message:</label>
                    <textarea id='Message' name='Message' class='form-control' style='height: 100px;' required></textarea>
                </div>
                <div>
                    <button type='submit' class='btn btn-primary'>Submit</button>
                </div>
                <div class="social-icons">
                    <a href="https://twitter.com/your_twitter_username" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://www.instagram.com/your_instagram_username" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://www.facebook.com/your_facebook_page" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

            </form>
        </div>
    </div>
</body>
</html>