@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">

    <div class="one">
        <img class="background" src="~/lib/images/brown-bokeh-textured-plain-product-background.jpg" />

        <div>
            <br />
            <h1 style="  padding-left: 500px;font-size:50px;">Welcome to KhumaloCraft</h1>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="~/lib/images/women.jpg" class="card-img-top" alt="Hand crafted clay women">
                <div class="card-body">
                    <h5 class="card-title">Hand Crafted Clay Women</h5>
                    <p class="card-text" style="font-family:'Times New Roman', serif;">Explore our exquisite collection of handcrafted clay women sculptures, each meticulously crafted with passion and skill.</p>
                    <a href="#" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-8 para2">
            <br />
            <br />
            <br />

            <p>
                -Join us in celebrating the artistry of the world and find the perfect
                handcrafted treasure to enrich your life or share with loved ones.
                Start your journey with KhumaloCraft today and experience the magic
                of handmade craftsmanship.
            </p>
            <br />
            <p>
                -At KhumaloCraft, our mission is to connect artisans with a global audience,
                celebrating the beauty of handmade craftsmanship while fostering sustainable
                livelihoods. Our vision is to become the go-to platform for discerning
                shoppers seeking unique, ethically sourced products.
            </p>
            <br />
            <br />
            <br />
            <br />

            <div class="row">
                <div class="col">
                    <p class="text-center" style="font-size:17px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                        "Discover our latest arrivals! From intricately clay designed plates to beautifully
                        hand-carved sculptures, each piece tells a story of skill and passion. Browse
                        our featured products and uncover the perfect addition to your home or wardrobe."
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


